
/* Your CSS Code here. */
* {
	padding: 0px;
	margin: 0px;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	background-color: red
}

main {
	height: 100%;
	background-color: black;
	color: white;
}

ul {
	display: flex;
	gap: 10px;
	list-style-type: none;
}

h1 {
	color: white;
}

.box-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
}

.movie-summary {
	height: full;
	padding: 20px;
}

p {
	margin-top: 10px;
	font-size: 18px;
}

h2 {
	color: white;
	font-size: 20px;
}

#actor, #quote {
	border: 1px solid white;
	padding: 20px;
}

#nav-actor, #nav-quote {
	width: full;
}

#rating {
	padding: 20px;
	color: red;
	text-align: center;
}

.footer {
	background-color: gray;
	padding: 20px;
	color: white;
}

#rating p {
	font-size: 30px;
}

#rating h2 {
	color: red;
}

a {
	text-decoration: none;
	color: white;
	font-size: 20px;
}